.menu {
    background-color: rgba(255, 255, 255, 0.689);
    height: 50px;
    width:100%;
    display: flex;
}

.menu ul {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin: 0;
}

.menu ul:nth-of-type(2){
    justify-content: flex-end;
}

.menu li {
    /* margin: 20px; */
    list-style-type: none;
    line-height: 50px;
    /* margin:15px; */
    font-size: 1.2em;
    padding: 0 30px;
    color:rgba(0, 0, 0, 0.696);
    /* border-right: 1px solid rgba(255, 255, 255, 0.442); */
    height: 100%;
}

.menu li:hover{
    background-color: rgba(255, 255, 255, 0.798);
    cursor: pointer;
}

ul:nth-of-type(2) li{
    border-left: 1px solid rgba(255, 255, 255, 0.442);
}

ul:first-of-type li{
    border-right: 1px solid rgba(255, 255, 255, 0.442);
}

li img{
    margin: 10px;
    width: 30px;
    height: 30px;
}