<div class="wrapper">
  <div class="left">
    <p class="uppercase">deliciously fresh cupcakes, delivered nationwide</p>
    <p class="titlecase">choose from a selection of over 40 flavours as well as photo cupcakes or message cupcakes. Order by 4pm for next day
      delivery.
    </p>
    <img src="../assets/slider-photo1.jpg">
  </div>
  <div class="right">
    <div class="container">
      <p>
        <span class="uppercase">subscribe</span>
      </p>
    </div>
    <div class="container">
      <p>
        <span class="uppercase">cupcake of the day</span>
      </p>
    </div>
  </div>
</div>
<div class="utils-banner">
  <div class="item">
    <img src="../../../assets/phone-icon.png">
    <p class="uppercase">for special orders call 01903 202 210</p>
  </div>
  <div class="item">
    <img src="../../../assets/truck-icon.png">
    <p class="uppercase">nationwide delivery all over uk</p>
  </div>
  <div class="item">
    <img src="../../../assets/30+-icon.png">
    <p class="uppercase">over 40 cupcake flavours</p>
  </div>
  <div class="item">
    <img src="../../../assets/24h-icon.png">
    <p class="uppercase">order by 4pm for the next day delivery</p>
  </div>
</div>