<div class="wrapper">
  <div class="left">
    <p>DELICIOUSLY FRESH CUPCAKES, DELIVERED NATIONWIDE</p>
    <p>Choose from a selection of over 40 flavours as well as photo cupcakes or message cupcakes. Order by 4pm for next day
      delivery.
    </p>
    <app-slider></app-slider>
  </div>
  <div class="right">
    <div class="container">
      <p>
        <span>SUBSCRIBE</span>
      </p>
    </div>
    <div class="container">
      <p>
        <span>CUPCAKE OF THE DAY</span>
      </p>
    </div>
  </div>
</div>
<div class="utils-banner">
  <div class="item">
    <img src="../../../assets/phone-icon.png">
    <p>FOR SPECIAL ORDERS CALL 01903 202 210</p>
  </div>
  <div class="item">
    <img src="../../../assets/truck-icon.png">
    <p>NATIONWIDE DELIVERY ALL OVER THE UK</p>
  </div>
  <div class="item">
    <img src="../../../assets/30+-icon.png">
    <p>OVER 40 CUPCAKE FLAVOURS</p>
  </div>
  <div class="item">
    <img src="../../../assets/24h-icon.png">
    <p>ORDER BY 4PM FOR NEXT DAY DELIVERY</p>
  </div>
</div>