.wrapper{
    width: 250px;
    background-color: rgba(255, 255, 255, 0.922);
    border:1px solid rgb(202, 202, 202);
    box-shadow: 2px 3px 3px 2px #ababab41;
    text-align: center;
}

.wrapper > div:first-of-type{
    border:1px solid rgb(225, 225, 225);
}

.button{
    margin: 10px auto;
    width:50%;
    height: 40px;
    background-color: #047995;
    color:white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.button:hover{
    background-color: #58255c;
}

.basket-info{
    display: flex;
    padding:20px;
    line-height: 35px;
    border-bottom: 1px solid rgb(225, 225, 225);
    text-align: left;
    justify-content: space-around;
}

.basket-info img{
    width:80px;
    height: 80px;
}
