.wrapper {
    width: 100%;
    height: 200px;
    background: linear-gradient(to top right, #2e1b35, #341e3b, #44274d );;
    color: rgb(225, 225, 225);
    font-family: 'Roboto';
    font-weight: 100;
    line-height: 40px;
    font-size: 1.1em;
    text-align: center;
}

.wrapper p {
    padding-top: 15px;
    font-weight: 100;
    font-size: 1.1em;
}

.social-media {
    margin: 0 auto;
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.social-media img {
    margin-top: 20px;
    padding-right: 10px;
    height: 40px;
    cursor: pointer;
}

.social-media img:hover {
    padding-right: 10px;
    height: 50px;
    transition-duration: 0.3s;
}